<div id="executor" class="tool-panel">
    <div class="tool-header" style="margin-bottom: 40px;">
        <span class="step-tag" data-i18n="tag_executor">Willensvollstrecker</span>
        <h2 data-i18n="title_executor">Executor Tasks</h2>
    </div>
    <div class="tool-section">
        <div class="checklist-item" onclick="toggleCheck(this, 'exec_cert')"><input type="checkbox"
                data-persistent="exec_cert" style="display:none"><span data-i18n="exec_cert_item">Obtain
                Certificate</span></div>
        <div class="checklist-item" onclick="toggleCheck(this, 'exec_assets')"><input type="checkbox"
                data-persistent="exec_assets" style="display:none"><span data-i18n="exec_assets_item">Secure
                Assets</span></div>
        <div class="checklist-item" onclick="toggleCheck(this, 'exec_notif')"><input type="checkbox"
                data-persistent="exec_notif" style="display:none"><span data-i18n="exec_notif_item">Notify
                Authorities</span></div>
    </div>
</div>